.FD-font-light{
	padding: 20px;
	margin: 5px;
	font-size: 35px;
	font-family: monospace;
	font-weight: 600;
	display: inline-block;
	overflow: hidden;
	color: #370971;
	position: relative;
	filter: contrast(110%) brightness(190%)
}
.FD-font-light .lignt-txt{
	display: inline-block;
    background: linear-gradient(45deg, #eb2ad4, #16328e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FD-font-light .lignt-bgc{
	position: absolute;
    top: -100%;
    left: -100%;
    bottom: 0;
    right: 0;
	background: radial-gradient(circle, rgb(255, 255, 255), transparent 25%) 0px 0px / 25% 25%, radial-gradient(circle, rgb(255, 255, 255), transparent 25%) 50% 50% / 12.5% 12.5%;
	mix-blend-mode: color-dodge;
	animation: light 5s infinite linear;
}
@keyframes light {
  100% {
    -webkit-transform: translate3d(50%, 50%, 0);
            transform: translate3d(50%, 50%, 0);
  }
}
