.fd-font-light{
	margin: 24px;
	font-size: 40px;
	position: relative;
	right: -1px;
	display: inline-block;
	font-family: monospace;
	background: #000;
	padding: 20px;
	overflow: hidden;
	filter: contrast(110%) brightness(190%);
}

.fd-font-light .lignt-txt{
	position: relative;
	background: black;
	color: transparent;
	text-transform: uppercase;
}
.fd-font-light .lignt-txt::before, .fd-font-light .lignt-txt::after{
	content: "FD-TEST";
	color: white;
	filter: blur(0.02em);
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.fd-font-light .lignt-txt::after {
	mix-blend-mode: difference;
}

.fd-font-light .lignt-bgc{
	background: linear-gradient(45deg, #e3f107, #c20afe);
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: multiply;
}

.fd-font-light .lignt-ani{
	position: absolute;
    top: -100%;
    left: -100%;
    bottom: 0;
    right: 0;
    animation: light 5s infinite linear;
    background: radial-gradient(circle, rgb(255, 255, 255), rgba(0, 0, 0, 0) 25%) 0px 0px / 25% 25%, radial-gradient(circle, rgb(255, 255, 255), rgb(0, 0, 0) 25%) 50% 50% / 12.5% 12.5%;
    mix-blend-mode: color-dodge;
}

@keyframes light {
  100% {
    -webkit-transform: translate3d(50%, 50%, 0);
            transform: translate3d(50%, 50%, 0);
  }
}
